<% _meta  title: "Privacy Policy",
          description: nil,
          keywords: ["Privacy Policy"] %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading">Privacy Policy</h1>
        <p class="lead section-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
      </div>
    </div>
  </div>
</section>
