/*
  Fullwidth Header containers
*/
.container-image {
  background: url(/login.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 4em 0;

  h1 {
    font-size:4em;
  }

  hr {
    padding: 0;
    border: none;
    border-top: medium solid #222;
    color: #222;
    text-align: center;
    width: 60%;
    opacity: 0.5;

    &:after {
        content: "♥";
        display: inline-block;
        position: relative;
        top: -0.8em;
        font-size: 1.5em;
        padding: 0 0.25em;
    }
  }
}

/*
  Reasons list
*/
.reasons {
  img { width: 50%; }
}

/*
  Modify alerts
*/
.alert {
  margin-bottom:0;
}
